.navbar {
    color: black;
}

.jumbotron {
    background-color: #400080;
    color: #ffffff;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #cccccc;
    color: white;
}

.logo-small {
    color: #ffcc00;
    font-size: 50px;
}

.logo {
    color: #339933;
    font-size: 200px;
    padding-left: 50px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0px;
    }
}

.pad-left {
    padding-left: 100px;
}

.bg-green {
    background-color: #26734d;
    color: white;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}